@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    background-color: black;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: white;
}

code {
    font-family:  source-cope-pro;
}

.alert-enter {
    opacity: 0;
    transform: translateX(-600px);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0px);;
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
    
}
.alert-exit-active {
    opacity: 0;
    transform: translateX(-600px);
    transition: opacity 300ms, transform 300ms;
}

#qwerty {
    min-height: 100vh;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: rgb(242, 133, 133);
    transform-origin: 0%;
}